/* background for the website */
body {
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* this is the navbar */
.flexbox-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    margin-right: 15px;
}
.flexbox {
    height: 35px;
    width: 150px;
    font-size: 23px;
    text-align: center;
    padding-top: 10px;
    color: white;
}


/* search bar */
.search {
    padding-top: 12px;
    text-align: center;
}
button {
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    width: 120px;
    height: 25px;
    border: 1px solid black;
}
input {
    border-radius: 15px;
    height: 25px;
    background-color: pink;
    padding-left: 15px;
}
form {
    width: 340px;
}
/* nike sign */
img {
    position: fixed;
    top: 0;
    margin-left: 100px;
    height: 160px;
    width: 160px;
    transform: rotate(-5deg);
}

/* main section */
.main {
    border: 2px solid white;
    height: 420px;
    width:  1000px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}