.flexbox-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    border: 2px solid red;
}
.flexbox {
    border: 2px solid green;
    width: 100px;
    text-align: center;
    height: 50px;
}